<a href="https://colab.research.google.com/github/bon-u/S1Project/blob/main/AI07_S1P_%EA%B5%AC%EB%B3%B8%EC%9A%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [65]:
import pandas as pd
df=pd.read_csv('/vgames2.csv',index_col = 0)
df[['NA_Sales','EU_Sales','JP_Sales','Other_Sales']]=df[['NA_Sales','EU_Sales','JP_Sales','Other_Sales']].apply(pd.to_numeric,errors='coerce')
df[['Publisher','NA_Sales','EU_Sales','JP_Sales','Other_Sales']]=df[['Publisher','NA_Sales','EU_Sales','JP_Sales','Other_Sales']].fillna(0)
df.head()
#숫자형 데이터를 만들고 그 숫자형 데이터의 결측치만 0으로 바꾸어줌

                                             Name  ... Other_Sales
1                    Candace Kane's Candy Factory  ...        0.00
2                                  The Munchables  ...        0.01
3  Otome wa Oanesama Boku ni Koi Shiteru Portable  ...        0.00
4                Deal or No Deal: Special Edition  ...        0.00
5       Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04

[5 rows x 9 columns]

In [5]:
dfg=df.drop(['Name','Platform','Year','Publisher'],axis=1)
dfg=dfg.dropna(axis=0)
gen=dfg.groupby(dfg['Genre']).mean() 
#지역별 장르의 출고량 평균 데이터 프레임을 생성
print(gen)

              NA_Sales  EU_Sales  JP_Sales  Other_Sales
Genre
Action        0.258142  0.155809  0.047340     0.056009
Adventure     0.081953  0.049891  0.040523     0.012914
Fighting      0.261913  0.117828  0.101535     0.042668
Misc          0.232843  0.120842  0.060467     0.042434
Platform      0.499118  0.219446  0.146900     0.057704
Puzzle        0.212664  0.087059  0.098391     0.021574
Racing        0.277747  0.189107  0.045149     0.061689
Role-Playing  0.214390  0.122704  0.224659     0.037316
Shooter       0.435344  0.234572  0.029220     0.077913
Simulation    0.207769  0.129757  0.072162     0.036312
Sports        0.285523  0.159180  0.057206     0.057010
Strategy      0.099485  0.066471  0.071206     0.016250

In [6]:
nan=gen.sort_values(by='NA_Sales', ascending=False)
nae=gen.sort_values(by='EU_Sales', ascending=False)
naj=gen.sort_values(by='JP_Sales', ascending=False)
nao=gen.sort_values(by='Other_Sales', ascending=False) 
#장르를 각 지역별 출고량 순위로 배열
print('지역별 장르 순위 TOP 5')
print('NA')
print('1위:',nan.index[0],'2위:',nan.index[1],'3위:',nan.index[2],'4위:',nan.index[3],'5위:',nan.index[4])
print('EU')
print('1위:',nae.index[0],'2위:',nae.index[1],'3위:',nae.index[2],'4위:',nae.index[3],'5위:',nae.index[4])
print('JP')
print('1위:',naj.index[0],'2위:',naj.index[1],'3위:',naj.index[2],'4위:',naj.index[3],'5위:',naj.index[4])
print('기타')
print('1위:',nao.index[0],'2위:',nao.index[1],'3위:',nao.index[2],'4위:',nao.index[3],'5위:',nao.index[4])

지역별 장르 순위 TOP 5
NA
1위: Platform 2위: Shooter 3위: Sports 4위: Racing 5위: Fighting
EU
1위: Shooter 2위: Platform 3위: Racing 4위: Sports 5위: Action
JP
1위: Role-Playing 2위: Platform 3위: Fighting 4위: Puzzle 5위: Simulation
기타
1위: Shooter 2위: Racing 3위: Platform 4위: Sports 5위: Action

In [115]:
dfy=df[['Year','Genre',]]
dfy['Sales']=df['NA_Sales']+df['EU_Sales']+df['JP_Sales']+df['Other_Sales']
dfy=dfy.dropna(axis=0)
for i in range(0,dfy.shape[0]):
  if dfy.iloc[i,0]<=22:
    dfy.iloc[i,0]=dfy.iloc[i,0]+2000
  elif dfy.iloc[i,0]<100:
    dfy.iloc[i,0]=dfy.iloc[i,0]+1900
  else:
    dfy.iloc[i,0]=dfy.iloc[i,0]
dfy.head()
#연도의 표현을 맞춰주고 지역별 출고량을 합한 Sales 컬럼을 만듬

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Year      Genre  Sales
1  2008.0     Action   0.04
2  2009.0     Action   0.18
3  2010.0  Adventure   0.02
4  2010.0       Misc   0.04
5  2010.0   Platform   0.25

In [116]:
dfp=dfy.pivot_table(index = 'Genre', columns = 'Year', values = 'Sales',aggfunc='mean')
dfp=dfp.fillna(0)
dfp.head()
#피벗테이블을 사용해 연도별 각 장르의 평균 출고량을 구함

Year       1980.0    1981.0    1982.0  ...    2016.0  2017.0  2020.0
Genre                                  ...
Action      0.340  0.587200  0.361111  ...  0.166218    0.01     0.0
Adventure   0.000  0.000000  0.000000  ...  0.053235    0.00     0.0
Fighting    0.770  0.000000  0.000000  ...  0.275000    0.00     0.0
Misc        0.675  0.000000  0.870000  ...  0.063889    0.00     0.0
Platform    0.000  2.306667  1.006000  ...  0.208000    0.00     0.0

[5 rows x 39 columns]

In [117]:
for y in range(0,dfp.shape[1]):
  dfs=dfp.sort_values(by=dfp.columns[y],ascending=False)
  print(dfp.columns[y],'년도 장르 순위 1위:',dfs.index[0],'2위:',dfs.index[1],'3위:',dfs.index[2])

1980.0 년도 장르 순위 1위: Shooter 2위: Fighting 3위: Misc
1981.0 년도 장르 순위 1위: Platform 2위: Puzzle 3위: Shooter
1982.0 년도 장르 순위 1위: Puzzle 2위: Platform 3위: Misc
1983.0 년도 장르 순위 1위: Sports 2위: Misc 3위: Platform
1984.0 년도 장르 순위 1위: Shooter 2위: Sports 3위: Racing
1985.0 년도 장르 순위 1위: Platform 2위: Sports 3위: Action
1986.0 년도 장르 순위 1위: Role-Playing 2위: Action 3위: Racing
1987.0 년도 장르 순위 1위: Adventure 2위: Fighting 3위: Role-Playing
1988.0 년도 장르 순위 1위: Platform 2위: Puzzle 3위: Racing
1989.0 년도 장르 순위 1위: Puzzle 2위: Platform 3위: Action
1990.0 년도 장르 순위 1위: Platform 2위: Racing 3위: Puzzle
1991.0 년도 장르 순위 1위: Action 2위: Platform 3위: Racing
1992.0 년도 장르 순위 1위: Racing 2위: Action 3위: Adventure
1993.0 년도 장르 순위 1위: Platform 2위: Shooter 3위: Puzzle
1994.0 년도 장르 순위 1위: Platform 2위: Adventure 3위: Shooter
1995.0 년도 장르 순위 1위: Platform 2위: Role-Playing 3위: Racing
1996.0 년도 장르 순위 1위: Platform 2위: Role-Playing 3위: Racing
1997.0 년도 장르 순위 1위: Platform 2위: Role-Playing 3위: Racing
1998.0 년도 장르 순위 1위: Platform 2위: Role-Playing 3위: Simulation
1999.0 년도 장르 순위 1위: Role-Playing 2위: Platform 3위: Misc
2000.0 년도 장르 순위 1위: Role-Playing 2위: Action 3위: Misc
2001.0 년도 장르 순위 1위: Fighting 2위: Platform 3위: Action
2002.0 년도 장르 순위 1위: Role-Playing 2위: Action 3위: Shooter
2003.0 년도 장르 순위 1위: Role-Playing 2위: Simulation 3위: Fighting
2004.0 년도 장르 순위 1위: Role-Playing 2위: Platform 3위: Racing
2005.0 년도 장르 순위 1위: Simulation 2위: Racing 3위: Puzzle
2006.0 년도 장르 순위 1위: Sports 2위: Platform 3위: Misc
2007.0 년도 장르 순위 1위: Platform 2위: Shooter 3위: Misc
2008.0 년도 장르 순위 1위: Racing 2위: Shooter 3위: Fighting
2009.0 년도 장르 순위 1위: Platform 2위: Shooter 3위: Sports
2010.0 년도 장르 순위 1위: Platform 2위: Shooter 3위: Role-Playing
2011.0 년도 장르 순위 1위: Shooter 2위: Platform 3위: Role-Playing
2012.0 년도 장르 순위 1위: Platform 2위: Shooter 3위: Simulation
2013.0 년도 장르 순위 1위: Shooter 2위: Action 3위: Sports
2014.0 년도 장르 순위 1위: Shooter 2위: Platform 3위: Sports
2015.0 년도 장르 순위 1위: Shooter 2위: Sports 3위: Role-Playing
2016.0 년도 장르 순위 1위: Shooter 2위: Sports 3위: Fighting
2017.0 년도 장르 순위 1위: Role-Playing 2위: Action 3위: Adventure
2020.0 년도 장르 순위 1위: Simulation 2위: Action 3위: Adventure